{erl_opts, [debug_info]}.
{deps, [yamerl,
       {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
       {murmur, {git, "https://github.com/lpgauth/murmur.git"}}
       ]}.

{relx, [{release, {discogswatcher, "0.1.0"},
         [discogswatcher,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
